{% extends 'base.html' %}
{% load meus_filtros %}
 

{% block conteudo %}

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        {{ form_usuario.username.errors }}

        <label>Username:</label>
        {{ form_usuario.username|addClass:'form-control' }}

    </div>
    <div class="form-group">
        {{ form_usuario.password1.errors }}

        <label>Senha:</label>

        {{ form_usuario.password1|addClass:'form-control' }}
    </div>
    <div class="form-group">
        {{ form_usuario.password2.errors }}

        <label>Confimar Senha:</label>
        {{ form_usuario.password2|addClass:'form-control'}}
    </div>
    <div class="form-group">
        <input type="submit"value='Cadastrar'class='btn btn-primary' >
    </div>

</form>

{% endblock conteudo %}