{% extends 'base.html' %}
{% load meus_filtros %}
{% block conteudo %}

<form method="post">
    {% csrf_token %}
    {% for message in messages %}
        <div  class='alert alert-danger'>
            {{message}}
        </div>
    {% endfor %}

    <div class="form-group">
        <label >Nome de usuário: </label>
        {{form_login.username|addClass:'form-control'}}
    </div>
    <div class="form-group">
        <label >Senha: </label>
        {{form_login.password|addClass:'form-control'}}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value='Entrar' >
    </div>
</form>

{% endblock conteudo %}