{% extends 'base.html' %}

{% block conteudo %}
<div class="card-mb-3">
    <div class="card-header">
        Tem certeza que deseja remover a tarefa abaxo?
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ tarefa.titulo }}
            
        </h5>
        <p class="card-text">
            {{ tarefa.descicao }}
        </p>
        <hr>
        <form method="POST">
            {% csrf_token %}

            <button class='btn btn-danger' type="submit">remover</button>
        </form>

    </div>
</div>
{% endblock conteudo %}
