{% extends 'base.html' %}
{% load meus_filtros %}

{% block conteudo %}
    <form method="post">
        {% csrf_token %}
    <div class='form-group'>
        <label>Título:</label>
        {{ form_tarefa.titulo.errors }}
        {{ form_tarefa.titulo|addClass:'form-control' }}
    </div>
    <div class='form-group'>
        <label>Descrição:</label>
        {{ form_tarefa.descricao.errors }}

        {{ form_tarefa.descricao|addClass:'form-control' }}
    </div>
    <div class='form-group'>
        <label>Data de expiração:</label>
        {{ form_tarefa.data_expiracao.errors }}

        {{ form_tarefa.data_expiracao|addClass:'form-control' }}
    </div>
    <div class='form-group'>
        <label>Prioridade:</label>
        {{ form_tarefa.prioridade.errors }}

        {{ form_tarefa.prioridade|addClass:'form-control' }}
    </div>
        <input type="submit" class="form-group" value="Salvar"/>
    </form>

{% endblock conteudo %}

