{% extends 'base.html' %}
{% block conteudo %}
    <h1>Listagem de tarefas</h1>
    {% for tarefa in tarefas %}
    <div class="card-mb-3">
        <div class="card-header">
            {{ tarefa.get_prioridade_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ tarefa.titulo }}
                
            </h5>
            <p class="card-text">
                {{ tarefa.descicao }}
            </p>
            <hr>
            <a href="{% url 'editar_tarefas' tarefa.id %}">Alterar Tarefas</a>
            <a href="{% url 'remover_tarefas' tarefa.id %}">Remover Tarefas</a>

        </div>
    </div>



    {% endfor %}
    <a href="{% url 'cadastrar_tarefas' %}"><input type="button" class='btn btn-primary' value='cadastrar tarefa'></a>
{% endblock conteudo %}

